.BlogSubjects{
    width: 12vw;
    height: 50vh;
    display: inline-block;
    position: absolute;
    right: 2vw;;
    background-color: grey;
    border-radius: 1vw;
}
#SubjectsHeader{
    font-weight: bold;
    font-size: 1.2vw;
    text-align: center;
}
.Subject{
    margin-left: 1vw;
    font-size: 15px;
}